body{
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
        margin: auto;
}
main{
    background:linear-gradient(135deg, #c3ec52 0%,#0ba29d 100%);
    width: 1000px;
    height: 1000px;
    margin: auto;
}
th,table{
    border: 3px solid #000000;
    
}
th{
    
    background: linear-gradient(135deg, #c3ec52 0%,#0ba29d 100%);
}
table{
    top:50px;
    position: relative;
    padding: 1px;
    width: 600px;
    margin: auto;
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
}
button{
    background:linear-gradient(135deg, #f2d50f 0%,#da0641 100%);
}
td{
    padding: 5px;
    border: 2px solid #000000;
    background: linear-gradient(135deg, #c3ec52 0%,#0ba29d 100%);
}